@use 'variable';

.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    //NÃO REPETE
    background-repeat: no-repeat;
    //COMPLETA O TAMANHO DO CONTAINER
    background-size: cover;
    //PARA O ELEMENTO FILHO
    position: relative;

    .container{
        //PARA O ELEMENTO FILHO
        position: relative;
    }

    //CRIA UM CONTEÚDO ANTES DO HERO
    &::before{
        //OCUPA A MESMA POSIÇÃO QUE O ELEMENTO
        position: absolute;
        top: 0;
        left: 0;
        //OCUPA O MESMO TAMANHO DO ELEMENTO PAI
        width: 100%;
        height: 100%;
        background-color: variable.$secondaryTextColor;
        //OPACIDADE DE 70%
        opacity: 0.7;
        content: "";
    }

    &__text{
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    &__logo{
        margin: 0 auto;
        //EM IMAGENS É NECESSÁRIO ADICIONAR O DISPLAY BLOCK PARA FUNCIONAR O MARGIN O AUTO
        height: 80px;
        display: block;
    }

    @media (max-width: 640px){
        padding: 40px 0;
        
        &__logo{
            height: 40px;
        }

        &__text{
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}